
@media only screen and (max-width: 400px) {
.text-container { font-size:10%;}
}
@media only screen and (max-width: 1200px) {
.text-container { font-size:60%;}
}
@media only screen and (max-width: 1400px) {
.text-container { font-size:73%;}
}
@media only screen and (max-width: 1600px) {
.text-container { font-size:80%;}
}

.articleTop-div{
  height: 20vw;
  width: 42vw;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  flex-direction: row;
}


.articles-container{
  display: block;
  width: 38vw;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  flex-direction: column;
  height: 100vw;
}

.article-div{
  height: 10vw;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  flex-direction: row;
}

.edit-bttn{
  display: none;
}

img{
  height: 9.6vw;
  width: 18vw;
}

.text-container{
  font-family: 'Cormorant Infant', serif;
  position: inherit;
  padding-left: 1vw;
  flex-flow: column;
  /*float: right;*/
  text-align: left;
  /*display: block;*/
  max-width: 50vw;
  padding-bottom: 2vw;
}

a{
  color: black;
  text-decoration: none;
}

.day-bar{
  margin-top: 3vw;
  margin-bottom: 3vw;
  color: black;
  margin-left: auto;
  margin-right: auto;
  height: 2vw;
  width: 50vw;
  background: linear-gradient(135deg,#50e3c2,#85baff);
  background-image: linear-gradient(135deg, rgb(80, 227, 194), rgb(133, 186, 255));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
