<div class="articles-container">
  <a *ngFor="let article of articlesList| async;">
  <div class="article-div"  id={{article.name}}+{{article.id}}>
    <button (click)="editClick(article)">Edit</button>
    <div class="article-img">
      <img src={{article.img}} alt="{{article.alt}}">
    </div>
    <div class="text-container">
      <div class="title">
      <h2>{{article.title}}</h2>
      </div>
      <div class="blurb">
        <h3>{{article.blurb}}</h3>
      </div>
      <div class="author">
        <h5>{{article.author}}</h5>
      </div>
    </div>
  </div>
</a>

</div>
