<div  *ngIf="articleToEdit">
  <h2>{{articleToEdit.title}}</h2>
    <h4>Title</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.title><br>
    <h4>Author</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.author><br>
    <h4>Blurb</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.blurb><br>
    <h4>body</h4>
      <textarea rows="20" cols="150" class="edit-body" [(ngModel)]=articleToEdit.body></textarea><br>
    <h4>Image Source</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.img><br>
    <h4>Image Alt Text</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.alt><br>
    <h4>Article ID (DO NOT AMMEND UNLESS NECESSARY)</h4>
      <input class="edit-input" [(ngModel)]=articleToEdit.$key><br>
    <button class="edit-bttn" (click)="callToEdit(articleToEdit)">Finished Editing</button> <br>
      <br>
    <hr><button class="del-bttn" (click)="callToDelete(articleToEdit)">DELETE ARTICLE</button><hr>
</div>
