body{
  display: flex;
}
.articles-container{
  width: 60em;
  margin-left: 40em;
  margin-right: 40em;
  padding: 30px;
  flex-direction: column;
}

.article-div{
  height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  flex-direction: row;
}

.article-img{
  height: 245px;
  width: 470px;
}

img{
  height: 245px;
  width: 470px;
}

.text-container{
  font-family: 'Cormorant Infant', serif;
  position: relative;
  padding-left: 125px;
  flex-flow: column;
  float: right;
  text-align: left;
  display: block;
  max-width: 50%;
}

a{
  color: black;
  text-decoration: none;
}
