input{
  text-align: center;
  font-size: 16pt;
  width: 90%;
  height: 30px;
}

button{
  font-size: 15pt;
  border-radius: 7px;
}

.nav{
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-content: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.logo{
  height: 45px;
  width: auto;

}

.logo-div{
  display: flex;
  margin: auto;
  flex-direction: row;
  position: relative;
  height: 45px;
}

.new-article{
  color: #bfbfbf;
  width: 20px;
  height: auto;
  width: auto;
  padding: 0 19px 19px 0;
  align-self: flex-end;
}

.search{
  color: #bfbfbf;
  align-self: flex-end;
  padding: 0 19px 19px 0;
}

.nav-container{
  justify-content: flex-end;
  height: 50px;
  width: 400px;
  display: flex;
  flex-direction: row;

}

.new-article-container{
  display: none;
}
.menu-img-container{
  margin-right: auto;

}

.menu-icon{
  /*flex: none;*/
  width: 40px;
  align-self: flex-start;
}

.side-menu-container{
  font-family: 'Cormorant Infant', serif;
  font-size: 16pt;
  color: #fff;
  display: none;
  float: left;
  flex-direction: column;
  width: 20vw;
  height: 55vw;
  background: linear-gradient(135deg,#50e3c2,#85baff);
  background-image: linear-gradient(135deg, rgb(80, 227, 194), rgb(133, 186, 255));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.side-link{
  margin-bottom: 1px;
}
