<div class="nav">
  <div class="menu-img-container">
  <img class='menu-icon' src="../assets/img/menu.png" alt="burger menu">
  </div>
  <div class="logo-div">
    <img class="logo" src="./assets/img/bustle-logo.png" alt="bustle-logo">
  </div>
  <div class="nav-container">
  <div class="new-article" (click)="showNew()">New
  </div>
  <div class="search">Search
  <div class="search-box">
    <!-- <input type="text"> -->
  </div>
  </div>
</div>
</div>





<div class="new-article-container">

  <input #newTitle placeholder="name">
  <input #newAuthor placeholder="author">
  <input #newBody placeholder="body">
  <input #newBlurb placeholder="blurb">
  <input #newImg placeholder="img">
  <input #newAlt placeholder="alt">
  <input #newId placeholder="id">
  <button (click)="create(newTitle.value, newAuthor.value, newBody.value, newBlurb.value, newImg.value, newAlt.value, newId.value); newTitle.value=''; newAuthor.value=''; newBody.value=''; newBlurb.value=''; newImg.value=''; newAlt.value=''; newId.value=''; ">Add New Article</button>
</div>

<app-main-page></app-main-page>


<div class="side-menu-container">
  <div class="side-menu-option">
  <a (click)="business()">Business</a>
  <a href="fashion">Fashion</a>
  <a href="news">News</a>
  <a href="entertainment">Entertainment</a>
  </div>
</div>
